ul{
  li{
    color:green
  }
}
.box{
  width: 300px;
  height: 320px;
  background: url("../images/1.gif")no-repeat ;
}
.box2{
  width: 300px;
  height: 320px;
  background: url("../img/1.jpg")no-repeat ;
}